/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

/* Start Global */
html, body {
    font-family: var(--Poppins-font);
    /* overflow-x: hidden !important; */
}

*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}
/* End Global */


/* Start Framework */
.btn:focus,
.btn:active,
input,
input:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
} 

.icon {
    /* background-color: #f44254; */
    background-color: var(--color-denger);
    width: 40px;
    height: 40px;
    border-radius: 25px;
    line-height: 40px !important;
    transition: var(--main-trans);
}

.icon:hover{
    transform: rotate(360deg);
}


/* Strat variables */
:root {
    --Kaisei-font: 'Kaisei Tokumin', serif;
    --Poppins-font: 'Poppins', sans-serif;
    --color-denger: #dc3545;
    --black-color: #0b090a;
    --white-color: #fff;
    --main-trans: all 0.3s ease-in-out;
}
/* End variables */

.black{color: var(--black-color); font-weight: 800;}
.main-color{color: var(--color-denger);}
.Kaisei{font-family: var(--Kaisei-font);}
.poppins{font-family: var(--Poppins-font);}


/* Title */

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color-denger);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Button */
.btn-primary{
    background-color: var(--color-denger);
    display: block;
    text-transform: uppercase;
    width: fit-content;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    transition:  var(--main-trans);
}

.btn-primary:hover {
    background-color: #f44254 !important;
}


/* Navbar */
nav {
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

nav .icons-nav li {
    padding: 8px;
    width: 40px;
    transition: 0.6s ease-in-out;
}


.navbar-nav .nav-item a{
    transition: 0.6s ease;
}

.navbar-nav .nav-item a:hover{
    color: var(--color-denger);
}

.navbar-nav .nav-item:first-child a {
    color: var(--color-denger) !important;
}


/* nav .nav-btns button .icon {
    background-color: #f44254;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    line-height: 30px;
    transition: var(--main-trans);
}

.icon:hover{
    transform: rotate(360deg);
} */

.badge{
    background: var(--color-denger);
}

.search-box{
    height: 35px;
    max-width: 20px;
    width: 100%;
    margin: 0 20px;
    border-radius: 6px;
    color: var(--black-color) !important;
    transition: var(--main-trans);
}

.search-box.open{
    max-width: 200px;
    padding: 0 10px 0 35px;
    
}

.search-input{
    position: relative;
    left: 13px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 6px 0 0 6px;
    color: var(--black-color);
    background: #ccc !important;
}

.icon-search {
    position: absolute;
    height: 100%;
    top: -4px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: var(--color-denger);
}

.search-icon,
.close-icon{
    position: absolute;
    top: 50%;
    transition: all 0.6a cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon{
    transform: translateY(-50%) rotate(90deg);
}

.search-box.open .search-icon{
    transform: translateY(-50%) rotate(0);
}

.close-icon{
    right: -43px;
    color: var(--white-color);
    background-color: var(--color-denger);
    padding: 10px;
    border-radius: 10%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}

.search-box.open .close-icon{
    opacity: 1;
    pointer-events: auto;
}


.home {
    margin-top: 180px;
}

#blog {
    height: 350px;
}

@media (max-width: 600px){
    .search-box{
        display: none;
    }
}

/* .services .services-items {
    display: flex;
} */

.services .services-items .number-container
{
    gap: 10px;
}

.services .services-items .box-countr{
    /* box-shadow: 16px 25px 62px 5px rgba(114, 36, 36, 0.18); */
    background-color: var(--white-color);
    transition: var(--main-trans);
    line-height: 90px;
    font-size: 1.60rem!important;

    /* margin: 0 5px 5px 0; */
    height: 230px;
    width: 277px;
}

.services .services-items .box-countr:hover {
    border: 1px solid #dc3545;
    /* border-right: 3px solid #dc3545;
    border-bottom: 3px solid #dc3545; */
    box-shadow: -10px -10px 40px 10px inset rgba(252, 0, 0, 0.18);
    border-radius: 30px 0 30px 0;
}


/* .box-countr:hover{
    transform: scale(1.1);
} */
.box-countr i{
    color: var(--color-denger);
}



/* .home .carousel-item {
   line-height: 50px; 
} */

/* .home .carousel-inner {
    border: 1px solid;
} */

/* .home .carousel-item {
 width: 90%;
}  */

.home .control-prev button span {
    background-color: red;
    border-radius: 20px;
    font-size: 10px;
    opacity: 0;
    transition: 0.7s ease;
}

.home:hover .control-prev button span {
    opacity: 0.9;
}

/* Products */
#products
{
    height: 685px;
}

.active-filter-btn{
    background-color: var(--color-denger);
    color: #fff !important;
}

.products-img span{
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.box-products{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.starts{
    color: #ffbe0b;
}

.btn-add{
    background-color: var(--color-denger) ;
    width: 100%;
    color: #fff;
}
.btn-add:hover{
    background-color: #f44254;
    color: #fff;
}
.price-quantity{
    cursor: pointer;
}

.fa-minus{
    color: red;
}
.fa-plus{
    color: green;
}