/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

/* Start Global */
html, body {
    font-family: var(--Poppins-font);
    overflow-x: hidden !important;
}

*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}
/* End Global */

.btn:focus,
.btn:active,
input,
input:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
} 



/* Strat variables */
:root {
    --Kaisei-font: 'Kaisei Tokumin', serif;
    --Poppins-font: 'Poppins', sans-serif;
    --color-denger: #dc3545;
    --black-color: #0b090a;
    --white-color: #fff;
    --main-trans: all 0.3s ease-in-out;
}
/* End variables */

.black{color: var(--black-color); font-weight: 800;}
.main-color{color: var(--color-denger);}
.Kaisei{font-family: var(--Kaisei-font);}
.poppins{font-family: var(--Poppins-font);}


/* Title */

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color-denger);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Button */
.btn-primary{
    background-color: var(--color-denger);
    display: block;
    text-transform: uppercase;
    width: fit-content;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    transition:  var(--main-trans);
}

.btn-primary:hover {
    background-color: #f44254 !important;
}


/* Navbar */
nav {
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

nav .icons-nav li {
    padding: 8px;
    width: 40px;
    transition: 0.6s ease-in-out;
}


.navbar-nav .nav-item a{
    transition: 0.6s ease;
}

.navbar-nav .nav-item a:hover{
    color: var(--color-denger);
}

.navbar-nav .nav-item:first-child a {
    color: var(--color-denger) !important;
}


nav .nav-btns button .icon {
    background-color: #f44254;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    line-height: 30px;
    transition: var(--main-trans);
}

.icon:hover{
    transform: rotate(360deg);
}

.badge{
    background: var(--color-denger);
}

.search-box{
    height: 35px;
    max-width: 20px;
    width: 100%;
    margin: 0 20px;
    border-radius: 6px;
    color: var(--black-color) !important;
    transition: var(--main-trans);
}

.search-box.open{
    max-width: 200px;
    padding: 0 10px 0 35px;
    
}

.search-input{
    position: relative;
    left: 13px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 6px 0 0 6px;
    color: var(--black-color);
    background: #ccc !important;
}

.icon-search {
    position: absolute;
    height: 100%;
    top: -4px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: var(--color-denger);
}

.search-icon,
.close-icon{
    position: absolute;
    top: 50%;
    transition: all 0.6a cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon{
    transform: translateY(-50%) rotate(90deg);
}

.search-box.open .search-icon{
    transform: translateY(-50%) rotate(0);
}

.close-icon{
    right: -43px;
    color: var(--white-color);
    background-color: var(--color-denger);
    padding: 10px;
    border-radius: 10%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}

.search-box.open .close-icon{
    opacity: 1;
    pointer-events: auto;
}


.home {
    margin-top: 180px;
}

#blog {
    height: 350px;
}

@media (max-width: 600px){
    .search-box{
        display: none;
    }
}


.box-countr{
    box-shadow:16px 24px 62px -2px rgba(0, 0, 0, 0.18);
    background-color: var(--black-color);
    transition: var(--main-trans);
}
/* .box-countr:hover{
    transform: scale(1.1);
} */
.box-countr .text-center i{
    color: var(--color-denger);
}



/* .home .carousel-item {
   line-height: 50px; 
} */